.hero-section {
  /* max-width: 82rem; */
  margin-top: -4rem;
  display: flex;
  gap: 4rem;
}

.hero__content {
  flex: 1 1 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__heading {
  color: var(--primary-focus);
  font-family: var(--font-family);
  font-size: 3.3rem;
  letter-spacing: -0.2px;
  font-weight: 700;
  margin-bottom: 1.4rem;
}

.hero__image-box {
  max-width: 36rem;
  height: 36rem;
  display: flex;
  align-items: center;
}

.hero__image {
  max-width: 100%;
  max-height: 100%;
}

.bounce-bottom {
  animation: bounce-bottom 1.2s infinite alternate ease-in-out;
}

@keyframes bounce-bottom {
  from {
    transform: translate3d(0, -10px, 0);
  }
  to {
    transform: translate3d(0, 10px, 0);
  }
}

.fade-in-bottom {
  -webkit-animation: fade-in-bottom 0.7s cubic-bezier(0.39, 0.575, 0.565, 1)
    both 0.1s;
  animation: fade-in-bottom 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) both 0.1s;
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px) scale(1.1);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px) scale(1.1);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
