.aside {
  max-height: max-content;
  width: 33rem;
  background-color: var(--base-200);
  display: flex;
  flex-direction: column;
  padding: 1.8rem;
  overflow: hidden;
}

.todos-list {
  border-radius: 1rem;
  position: relative;
  z-index: 10;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 1rem 0rem;
}

.todos-list::-webkit-scrollbar {
  appearance: none;
  width: 10px;
  background-color: var(--base-300);
  border-radius: 10rem;
}

.todos-list::-webkit-scrollbar-thumb {
  background-color: var(--primary-shadow);
  height: 30px;
  border-radius: 10rem;
}

.todos-list::-webkit-scrollbar-button {
  height: 15px;
}

.todos-list::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary);
}

.todos-list__heading {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.todos-list__heading--main {
  font-size: 2.5rem;
}

.todos-list__heading--subtitle {
  cursor: pointer;
  color: var(--primary);
  font-weight: 700;
  font-size: 1.9rem;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.todos-list__heading--subtitle:hover {
  transform: scale(1.1);
}

.todo {
  background-color: var(--base-150);
  padding: 1.6rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px 1px var(--base-shadow);
  border: 1px solid var(--primary-shadow);
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.todo__content {
  line-height: 2rem;
  font-size: 1.52rem;
}

.todo__title {
  font-size: 1.6rem;
  margin-bottom: 0.6rem;
}

.todo__actions {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1.2rem;
  margin-top: -0.8rem;
}

.todo__icon {
  cursor: pointer;
  font-size: 1.8rem;
  transition: all 0.35s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.todo__icon:hover {
  transform: scale(1.125);
  color: var(--accent);
}

@media screen and (max-width: 600px) {
  .aside {
    width: 100%;
    height: 100%;
    background-color: transparent;
    overflow: initial;
    padding: 2rem;
    padding-top: 2rem;
    padding-bottom: 12rem;
  }

  .todos-list {
    overflow: initial;
  }

  .todos-list__heading--main {
    font-size: 2.6rem;
  }
}
