#layout {
  position: relative;
  font-family: var(--font-family);
  color: var(--base-content);
  font-size: 1.6rem;
  background-color: var(--base-150);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  background-image: var(--base-gradient),
    url("../../assets/white-galaxy-1.jpeg");
  background-size: cover;
  background-position: top;
  position: relative;
}

#layout .wave-bottom {
  height: 30rem;
  width: 110%;
  display: flex;
  position: absolute;
  bottom: -4.5%;
  animation: wave-move 22s linear alternate-reverse infinite;
}

#layout .wave-bottom svg {
  display: block;
  width: 110%;
  position: absolute;
  bottom: 0;
}

#layout .wave-bottom path {
  width: 110%;
  height: 100%;
  fill: url("#linear");
}

.section {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin-left: 5.6rem;
}

@keyframes wave-move {
  0% {
    transform: translateX(4.1%);
  }
  100% {
    transform: translateX(-18.9%);
  }
}

@media screen and (max-width: 600px) {
  #layout {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .section {
    min-height: 100vh;
    margin-left: initial;
  }
}
