.backdrop {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 20;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.015);
}

/* ───────────────────────────────────
 * Entrance
 ────────────────────────────────────*/
.slide-in-elliptic--entrance {
  -webkit-animation: slide-in-elliptic-bottom-bck 0.2s ease-in-out both;
  animation: slide-in-elliptic-bottom-bck 0.2s ease-in-out both;
}

@-webkit-keyframes slide-in-elliptic-bottom-bck {
  0% {
    -webkit-transform: rotateX(-10deg) scale(0.5);
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0) scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-bottom-bck {
  0% {
    -webkit-transform: rotateX(-10deg) scale(0.5);
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0) scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

/* ───────────────────────────────────
 * Exit
 ────────────────────────────────────*/
.slide-out-fwd-center--exit {
  -webkit-animation: slide-out-fwd-center 0.5s
    cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: slide-out-fwd-center 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

@-webkit-keyframes slide-out-fwd-center {
  0% {
    -webkit-transform: translateZ(1);
    transform: translateZ(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
  }
}
@keyframes slide-out-fwd-center {
  0% {
    -webkit-transform: translateZ(1);
    transform: translateZ(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
  }
}
