.projects-section {
  max-width: 74rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: 56rem;
  margin-top: 1rem;
}

.tab-btns-box {
  width: 74rem;
  margin-top: -2.8rem;
}

.tab-btns-box div {
  display: flex;
  width: 14rem;
  align-items: center;
  justify-content: space-between;
  background-color: var(--base-100);
  box-shadow: 0px 0px 8px var(--base-shadow);
  border: 1px solid var(--primary-shadow);
  padding: 0.6rem;
  font-weight: 500;
  border-radius: 0.8rem;
}

.active-tab {
  color: var(--primary);
}

.deactive-tab {
  color: var(--primary-shadow);
}

.tab__number {
  font-size: 1.48rem;
  cursor: pointer;
  font-weight: 600;
}

.tab__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
}

.tab__icon {
  cursor: pointer;
  font-size: 2rem;
  color: var(--neutral-content);
}

.tab__icon:hover {
  color: var(--primary);
}

.cards-row {
  gap: 4rem;
  display: flex;
  align-items: flex-start;
  position: relative;
  z-index: 1;
}

.card {
  background-color: var(--base-100);
  width: 50%;
  border-radius: 0.8rem;
  box-shadow: 0px 0px 8px var(--base-shadow);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
}

.card__image-container {
  width: 100%;
  overflow: hidden;
}

.card__image {
  width: 100%;
  height: 19.2rem;
  border-radius: 0.8rem;
  border: 1px solid var(--base-shadow);
}

.card__title {
  font-size: 1.7rem;
  text-transform: capitalize;
  margin-top: -0.6rem;
  margin-bottom: 0.6rem;
}

.card__description {
  font-size: 1.45rem;
  line-height: 2rem;
  min-height: 4rem;
}

.card__buttons-box {
  display: flex;
  justify-content: space-between;
}

.card__button:link,
.card__button:visited,
.card__button:active {
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  padding: 0.8rem 1.4rem;
  border-radius: 0.8rem;
  border: 1px solid var(--primary-shadow);
  box-shadow: 1px 1px 8px var(--base-shadow);
  background-color: var(--base-150);
  color: var(--neutral-content);
}

.card__button:hover {
  color: var(--primary);
}

.card__icon {
  font-size: 1.6rem;
}
