.form-login {
  width: 34rem;
  background-color: var(--base-100);
  box-shadow: 0px 0px 14px var(--base-shadow);
  border-radius: 1rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.form-login__heading {
  color: var(--base-content);
  text-align: center;
  font-size: 2.6rem;
}
